html, body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #515151;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
}
#todo-container{
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    font-size: medium;
    margin: auto;
    background-color: beige;
    max-width: 800px;
    width: 100%;
    height: 750px;
}

.task-div{
    border-radius: 5px;
    margin: auto;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    height: 120px;
    margin-bottom: 20px;
    /* background-color: red; */
}

.titolo-div{
    text-align: center;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-top: 2px;
    grid-area: title;
}

.task-griglia2{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 5fr 3fr 5fr;
    grid-template-rows:  1fr 3fr 1fr;
    grid-template-areas:"title title title"
                        "tags . dates"
                        "button button button";
}

.flex-tags-div2{
    grid-area: tags;
}

.dates{
    padding-top: 15px;
    width: 100%;
    height: 100%;
    grid-area: dates;
}

.creation-date-div2{
    grid-area: dates;
}

.expiration-date-div2{
    grid-area: dates;
}

.button{
    grid-area: button;
    border: none;
    border-radius: 0px 0px 5px 5px;
    background-color: #656565;
}

.button:hover {
    border-radius: 50px;
    background: #ebebeb;
    box-shadow: inset -20px 20px 60px #c8c8c8,
                inset 20px -20px 60px #ffffff;
}